.KeepOrDeleteBtn {
  position: relative;
  width: 9rem;

  display: inline-block;

  margin: 0rem 0 0 2.25rem;
  padding: 0.6rem 1rem;

  border: none;
  border-radius: 1.2em;
  cursor: pointer;

  background-color: beige;
  --border-radius: 1rem;
  --danger-color: #ff0400;
  --okay-color: #228b22;
  --main-color: #2a65d3;
}

.deleteText {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 300ms ease-in;
}

.deleteBtn {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--danger-color);
  text-align: center;
  border-start-start-radius: var(--border-radius);
  border-end-start-radius: var(--border-radius);
  transform: scale(1.1);
}

.keepBtn {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--okay-color);
  border-start-end-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
  transform: scale(1.1);
}

.deleteBtn,
.keepBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtn span,
.keepBtn span {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .KeepOrDeleteBtn {
    padding: 0.5rem 1rem;
  }

  .deleteText {
    font-size: 0.85rem;
    font-weight: 800;
  }

  .deleteBtn span,
  .keepBtn span {
    font-size: 0.85rem;
  }
}

.KeepOrDeleteBtn:hover,
.KeepOrDeleteBtn:focus {
  color: var(--main-color);
}
