.listItem {
  width: 60rem;
  height: auto;
  margin: 2.5rem auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  word-break: break-all;
}

.listItem li {
  width: 90%;

  text-align: start;
  font-size: 1.15rem;
  font-weight: 600;

  color: var(--text-color);
}

.todoNum {
  margin: 0;
  padding-right: 1rem;

  font-size: 1.15rem;

  color: var(--text-color);

  word-break: normal;
}

.listItem button:hover {
  background-color: var(--text-color);
  color: black;
}

@media screen and (max-width: 1024px) {
  .listItem {
    width: 90%;
    height: 4rem;
  }

  .listItem li {
    font-size: 0.8rem;
    font-weight: 700;
  }
}
